*.pyc
/__pycache__/
/venv/
/.idea/
.gitlab-ci.yml
.gitkeep
.env

example/airflow-exporter-python2/postgresql/data
example/airflow-exporter-python2/airflow/logs
example/airflow-exporter-python2/airflow/backups

example/airflow-exporter-python3/postgresql/data
example/airflow-exporter-python3/airflow/logs
example/airflow-exporter-python3/airflow/backups
